:host {
  position: fixed !important;
  bottom: 1.5rem !important;
  right: 1.5rem !important;
  left: unset !important;
  z-index: 40;
  display: block;
}

.overview-map-container {
  width: 180px;
  height: 140px;
  position: relative;
  background-color: transparent !important;
}

/* El recuadro rojo que indica dónde estamos mirando */
:host ::ng-deep .ol-overviewmap-box {
  border: 2px solid #ef4444;
  background-color: rgba(239, 68, 68, 0.1);
}

/* Reset general del control de OpenLayers */
:host ::ng-deep .ol-overviewmap,
:host ::ng-deep .ol-control {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: unset !important;
  bottom: auto !important;
  background: transparent !important;
  margin: 0 !important;
  border: none !important;
}

:host ::ng-deep .ol-overviewmap-map,
:host ::ng-deep .ol-viewport,
:host ::ng-deep .ol-layers {
  width: 100% !important;
  height: 100% !important;
  display: block;
  position: absolute !important;
  border: none !important;
  background: transparent !important;
}

:host ::ng-deep .ol-overviewmap button {
  display: none !important;
}
