@import "ol/ol.css";

:host {
  display: block;
  position: relative;
}

.map-container {
  width: 100%;
  height: 100vh; /* Ajusta esto según necesites, ej. 500px o 100% de un contenedor padre */
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  z-index: 0; /* Asegura que el mapa esté debajo de otros elementos como la barra lateral */
}





