@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  /* Definición de colores para v4 */
  --color-primary: #194a8b;
  --color-secondary: #2b96d7;
  --font-family-poppins: "Poppins", sans-serif;
}
